.p-datatable .p-datatable-thead > tr > th {
  background: #004e37 !important;
  color: #ffffff !important;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #004e37 !important;
  border-color: #004e37 !important;
  color: #faf9f8 !important;
}
